<html>
  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="<%= basePath %>/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= basePath %>/bower_components/snackbarjs/dist/snackbar.min.css" rel="stylesheet">
    <link href="<%= basePath %>/css/style.css" rel="stylesheet">
    <link href="<%= basePath %>/css/react-split-pane.css" rel="stylesheet">
    <link href="<%= basePath %>/css/bootstrap-3-submenu.css" rel="stylesheet">
  </head>

  <body oncontextmenu="return false;">
    <div id="file-manager-container"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="<%= basePath %>/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="<%= basePath %>/bower_components/sugar/release/sugar-full.min.js"></script>
    <script src="<%= basePath %>/bower_components/draggabilly/dist/draggabilly.pkgd.js"></script>
    <script src="<%= basePath %>/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="<%= basePath %>/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="<%= basePath %>/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="<%= basePath %>/bower_components/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
    <script src="<%= basePath %>/bower_components/snackbarjs/dist/snackbar.min.js"></script>
    <script src="<%= basePath %>/bower_components/lodash/lodash.min.js"></script>
    <script src="<%= basePath %>/bower_components/arrive/src/arrive.js"></script>

    <script>
        if (window.CONSTS) throw "CONSTS already defined";
        window.CONSTS = {
            BASE_PATH: "<%= basePath %>",
            DEFAULT_DIR: decodeURIComponent("<%= filesDir %>")
        };
    </script>

    <script src="<%= basePath %>/js/bundle.js"></script>
  </body>
</html>
